body {
  font-family: 'Open Sans', sans-serif;
  color: #4A4A4A;
  line-height: 1.5;
  background-image: url(https://cdn.bustle.com/nighthawk.bustle.com/production/images/featured-pattern-27d6501d0fbb3f7e3deee91e37f7126d.svg);
  background-size: 50%;
  background-repeat: repeat-x;
}

h1, h2, h3, h4 {
  font-family: 'Cormorant Garamond', serif;
  text-align: center;
}

/*Article Settings*/

.well{
background-color: white;
}

/*Top Bar Settings*/

.navbar-default {
    background-color: white;
    border-color: #f2f2f2;
}

/*Align logo center*/

.navbar {
    position: relative;
    font-size: 1.5em;
    margin-bottom: 0px;
}
.navbar-brand {
    position: absolute;
    left: 50%;
    margin-left: -50px !important;
    display: block;
    max-width: 130px;
}
.article {
  margin: 20px;
}

.display-articles-background{
  background: linear-gradient(to bottom,#F7F7F7 0,rgba(251,251,251,0) 100%);
}
.btn-new {
  margin: 20px;
}
.btn-update {
  background: transparent;
  border: none;
  color: blue;
}
.btn-delete {
  background: transparent;
  border: none;
  color: red;
}
