.navbar-default {
    background-color: white;
    border-color: #f2f2f2;
}

/*Align logo center*/

.navbar {
    position: relative;
    font-size: 1.5em;
}
.navbar-brand {
    position: absolute;
    left: 50%;
    margin-left: -50px !important;
    display: block;
    max-width: 130px;
}
