<nav class="navbar navbar-default"  role="navigation">
  <div class="navbar-header">
      <a class="navbar-brand" href="#">
        <img alt="Bustle Logo" src="assets/images/bustle-logo.svg" class="img-responsive">
      </a>
  </div>
  <div class="navbar-collapse collapse">
    <ul class="nav navbar-nav navbar-right">
        <li><a href="#about"><img alt="Instagram Logo" src="assets/images/instagram-logo.png" class="img-responsive"></a></li>
        <li><a href="#about"><img alt="Social Media Logo" src="assets/images/pinterest.png" class="img-responsive"></a></li>
        <li><a href="#about"><img alt="Social Media Logo" src="assets/images/twitter.png" class="img-responsive"></a></li>
        <li><a href="#about"><img alt="Social Media Logo" src="assets/images/facebook-logo.png" class="img-responsive"></a></li>
        <li><a href="#"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></a></li>
    </ul>
    <ul class="nav navbar-nav navbar-left">
        <li><a href="#about"><img alt="menu" src="assets/images/menu.png" class="img-responsive"></a></li>
    </ul>
  </div>
</nav>


<div class="container">
  {{outlet}}
</div>
